<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      @if (loading()) {
        <p>Loading...</p>
      } @else if (error()) {
        <div class="alert alert-danger">{{ error() }}</div>
      } @else if (subject()) {
        <h2>{{ subject()!.name }}</h2>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <td>{{ subject()!.name }}</td>
            </tr>
            <tr>
              <th>Slug</th>
              <td>{{ subject()!.slug }}</td>
            </tr>
            <tr>
              <th>Subject Type</th>
              <td>{{ subject()!.subjectTypeDisplayName }}</td>
            </tr>
            <tr>
              <th>Created At</th>
              <td>{{ subject()!.createdAt }}</td>
            </tr>
          </tbody>
        </table>

        <h4>Attributes</h4>
        @if (subject()!.attributes.length === 0) {
          <p>No attributes.</p>
        } @else {
          <table class="table table-striped attributes-table">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              @for (attr of subject()!.attributes; track attr.key) {
                <tr>
                  <td>{{ attr.key }}</td>
                  <td>{{ attr.value }}</td>
                  <td>{{ attr.note }}</td>
                </tr>
              }
            </tbody>
          </table>
        }
      }
    </div>
  </div>
</div>
